body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#a5c6dd;
    color: #141313;
    line-height: 1.6;
    margin: 0%;
    padding: 0%;
}

header{
    grid-area: header;
    background-color: #536bf5;
    color: rgb(240, 236, 236);
    padding: 20px;
    text-align: center;
}

h1{
    margin: 0;
}
.layout-grid{
    display: grid;
    grid-template-columns:1fr 2fr 2fr;
    grid-template-rows: auto 1fr 1fr auto;
    padding: 20px;
    margin-bottom: 80px;
    gap: 20px;
    grid-template-areas: 
        "header header header"
        "sidebar contenido1 contenido2"
        "sidebar contenido3 contenido3"
        "footer footer footer";
}

.sidebar{
    grid-area: sidebar;
    background-color: #574e4e;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) ;
    
}
.sidebar h2 {
    color: #a5c6dd;
}
.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}
.sidebar ul li{
 margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #c5bcbc;
    transition: color 0.4s;
    
}
.sidebar ul li a:hover{
    color: #f2f8f7;
}

.contenido1 .contenido2 .contenido3 {
    background-color: #536bf5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.contenido1{
    grid-area: contenido1;
}

.contenido2{
    grid-area: contenido2;
}

.contenido3{
    grid-area: contenido3;
}

main{
    padding: 20px;
    margin-bottom: 60px;
}

section{
    background-color: rgb(241, 238, 239);
    border-radius: 8px;
    padding: 20px;
    box-shadow:0 4px 8px 0 rgb(68, 66, 71);
    margin-bottom: 20px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
   
}

ul{
    list-style: none;
}

footer{
    grid-area: footer;
    background-color: #536bf5;
    color: #f2f8f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 15px;
}

.email{
    color: #0a0a0a;
    text-decoration: none;

}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.flex-item{
    flex: 1;
    min-width: 250px;
    background-color: #f2f8f7;
    border-radius: 8px;
    padding: 15px;
    box-shadow: #574e4e;
    margin: 10px;
    text-align: center;
}
@media (max-width: 900px) {
    .layout-grid {
        grid-template-areas: 
        "header"
        "sidebar"
        "contenido1"
        "contenido2"
        "contenido3"
        "footer";
        grid-template-columns: 1fr;
  
    }} 